PORT=8000
NODE_ENV=production
DOMAIN=my.akhu.uz
BASE_URL=https://my.akhu.uz
DATABASE_PATH=./data/akhu_talabalar.db

# Telegram Bot
TELEGRAM_BOT_TOKEN=8749111682:AAHbYXMyb6TBgeLXo6E2DCE_jUQM7ogJy50
TELEGRAM_BOT_USERNAME=akhu_talabalar_bot
TELEGRAM_CHANNEL_ID=@akhu_talabalar_news

# JWT & Crypto Secrets
JWT_SECRET=akhu_talabalar_super_secret_jwt_key_2026
QR_HMAC_SECRET=akhu_qr_hmac_secret_key_al_xorazmiy_2026
DATA_ENCRYPTION_KEY=akhu_data_aes256_encryption_key_2026

# Admin
SUPERADMIN_EMAIL=superadmin@akhu.uz
PROREKTOR_EMAIL=prorektor@akhu.uz
TV_ACCESS_TOKEN=akhu_tv_display_token_2026_xyz
